#background {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
#application-splash {
  position: absolute;
  top: 25%;
  width: 50%;
  height: 50%;
  left: 25%;
  bottom: 25%;
  text-align: center;
}
#application-splash img {
  max-width: 100%;
  max-height: 100%;
}
#progress-container {
  bottom: -10%;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #444;
}
#progress-bar {
  position: absolute;
  bottom: -10%;
  width: 0%;
  height: 100%;
  background-color: white;
}

